<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Risk_Management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Risk_Management.Properties.Settings>
            <setting name="Min" serializeAs="String">
                <value />
            </setting>
            <setting name="Max" serializeAs="String">
                <value />
            </setting>
            <setting name="Meduim" serializeAs="String">
                <value />
            </setting>
        </Risk_Management.Properties.Settings>
    </userSettings>
</configuration>